// global styles and variables

// import google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Lato:400,700');

$purple: #BB86FC;
$blue: #3700B3;
$secondaryPurple: #03DAC5;
$error: #CF6679;

$light: #f8f8f8;

//update bulma wirefram global variables
$family-sans-serif: "Roboto", sans-serif;
$primary: $purple;
$link: $purple;

//update bulma component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//set custom global styles for whole app

html{
    background: linear-gradient(to left bottom, $purple, $secondaryPurple);
}

html, body{
    height: 100%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 600px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.title {
    font-family: 'Roboto';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.white-box {
    padding: 35px;
    background: white;
    border-radius: 5px;
}