// global styles and variables

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:400,700|Lato:400,700');

$purple: #BB86FC;
$blue: #3700B3;
$secondaryPurple: #03DAC5;
$error: #CF6679;

$light: #f8f8f8;

//update bulma wirefram global variables
$family-sans-serif: "Roboto", sans-serif;
$primary: $purple;
$link: $secondaryPurple;

//update bulma component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//set custom global styles for whole app

html{
    background: linear-gradient(to left bottom, $purple, $secondaryPurple);
}

html, body{
    height: 100%;
}